@model List<BoxOffice.Models.Movie>
@{
    ViewBag.Title = "Top Rated Movie";
}
<style>
    .hidden-overview {
        display: none;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        overflow-y: auto;
        text-align: center;
    }

    .card:hover .hidden-overview {
        display: block;
    }
</style>

<h2 class="text-center" style="margin: 10px;">Top-Rated Movies</h2>
<div class="row">
    @foreach (var toprated in Model)
    {
    <div class="card bg-dark col-md-3" style="width: 18rem; padding: 10px; font-family: Georgia, 'Times New Roman', Times, serif">
        <div>
            @if (toprated.VoteAverage >= 7)
            {
                <span class="badge badge-success vote-average" style="position: absolute; top: 10px; right: 10px;">@toprated.VoteAverage</span>
            }
            @if (toprated.VoteAverage <= 7 && toprated.VoteAverage >= 5)
            {
                <span class="badge badge-secondary vote-average" style="position: absolute; top: 10px; right: 10px;">@toprated.VoteAverage</span>
            }
        </div>
        @if (!string.IsNullOrEmpty(toprated.PosterPath))
        {
            <img class="card-img-top" src="https://image.tmdb.org/t/p/original/@toprated.PosterPath" alt="@toprated.Title" />
        }
        else
        {
            <span>No Poster aviable</span>
        }
        <div class="card-body">
            <h4 class="card-text">@toprated.Title</h4>
        </div>
        <div class="hidden-overview">
            <p>@toprated.Overview</p>
        </div>
    </div>
    }
</div>