@model List<BoxOffice.Models.Movie>

@{
    ViewBag.Title = "Discover TV Series";
    var defaultImageUrl = "https://upload.wikimedia.org/wikipedia/en/6/60/No_Picture.jpg";
}
<head>
    <link href="~/Content/CSS/index.css" rel="stylesheet" />
</head>

<h2 class="text-center" style="margin: 10px;">Tv Series</h2>

<div class="row justify-content-around">
    @foreach (var movie in Model)
    {
        <div class="card bg-dark col-md-3 rounded" style="width: 16rem; padding: 10px; margin: 9px;" type="button" data-toggle="modal" data-target="#movieModal-@movie.Id">
            <div>
                @if (movie.vote_average >= 7)
                {
                    <span class="badge badge-success vote-average text-center" style="position: absolute; top: 10px; right: 10px;">@movie.vote_average.ToString("0.0")⭐</span>
                }
                @if (movie.vote_average <= 7 && movie.vote_average >= 5)
                {
                    <span class="badge badge-secondary vote-average" style="position: absolute; top: 10px; right: 10px;">@movie.vote_average.ToString("0.0")⭐</span>
                }
            </div>

            @if (!string.IsNullOrEmpty(movie.poster_path))
            {
                <img class="card-img-top" src="https://image.tmdb.org/t/p/original/@movie.poster_path" alt="@if (movie.media_type == "tv")
            {
                @movie.name
            }" />
            }
            else
            {
                <span>No Poster available</span>
            }

            <div class="card-body">
                <h3 class="card-text text-center">
                    @movie.name
                </h3>
            </div>
        </div>

        <div class="modal fade" id="movieModal-@movie.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            @movie.name
                            <span>
                                (@movie.First_air_date.Year)
                            </span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5">
                                @if (!string.IsNullOrEmpty(movie.poster_path))
                                {
                                    <img src="https://image.tmdb.org/t/p/w500/@movie.poster_path" alt="@if (movie.media_type == "movie")
                                {
                                    @movie.name
                                }" class="img-fluid" />
                                }
                                else
                                {
                                    <span>No Poster available</span>
                                }
                                <br />
                            </div>

                            <div class="col-md-7">
                                <p>
                                    <h6 class="text-center"><strong>@movie.name</strong></h6>
                                    <span>
                                        @movie.tagline
                                    </span>
                                </p>
                                <div class="overview">
                                    <p>@movie.Overview</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#trailerModal-@movie.Id">Watch Trailer</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="trailerModal-@movie.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                                @movie.name
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h5>
                    </div>
                    <div class="modal-body">
                        @if (movie.Videos != null && movie.Videos.Any(v => v.Type == "Trailer"))
                        {
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@movie.Videos.First(v => v.Type == "Trailer").Key" allowfullscreen></iframe>
                            </div>
                        }
                        else
                        {
                            <img src="https://2.bp.blogspot.com/-5PtnfLKrn-4/TVb-b5xycCI/AAAAAAAAAIc/YeYJu-QJGcI/s1600/unavailable.jpg" alt="not available" class="img-fluid justify-content-center" />
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>